<% flash.each do | name, message | %>
  <div id="flash">
    <%= content_tag :div, class: "ui transition #{name} message" do %>
      <i class="close icon"></i>
      <%= content_tag :div, message, class: "header" %>
    <% end %>
  </div>
  <div class="ui hidden divider"></div>
  <% flash.clear %>
<% end %>
