<div class="ui hidden divider"></div>
<div class="ui one column grid container">
  <div class="twelve wide centered column">
    <% if @user %>
      <div class="ui header centered">Thank you <%= @user.name %> </div>
    <% end %>
  </div>
</div>
<div class="ui one column grid container">
  <div class="twelve wide centered column">
    <script charset="ISO-8859-1" src="//fast.wistia.com/assets/external/E-v1.js" async></script>
    <div class="ui embed">
      <div class="wistia_responsive_padding" style="padding:56.25% 0 28px 0;position:relative;">
        <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
          <div class="wistia_embed wistia_async_5asmywmy0c videoFoam=true" style="height:100%;width:100%">&nbsp;</div>
        </div>
      </div>
    </div>
  </div>
</div>
