.dropzone.override {
  border-radius: 5px;
  background: white;
  border: 4px dashed #6376f9;
  min-height: 100% !important;
  padding: 0em !important;
}

.dropzone.dz-clickable{
  cursor: pointer
}

.segment.drop-zone {
  background: white;
  height: auto;
}

.dropzone .dz-message {
  margin: 1em 0 !important;
  font-weight: bold !important;
  color: rgba(0, 0, 0, 0.20) !important;
}
